<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>


		<!-- Generate DB tables from Java class -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Print generated SQL to console -->
		<property name="hibernate.show_sql">true</property>
		
		 
    	<!-- Specify path to hbm -->
<!--     	<mapping resource="net/mv/hibernate/Employee.hbm.xml"/> -->
    	
<!--     	specify package and class and (JPA Annotations)  -->
    	<mapping class="net.mv.hibernate.Student"/>
    	<mapping class="net.mv.hibernate.Course"/>
    </session-factory>
    
</hibernate-configuration>
